<div class="container mx-auto px-4">
  <div class="p-5 flex justify-center">
    <%= link_to root_path do %>
      <%= image_tag 'app_logo.png', style: "height: 70px;" %>
    <% end %>
  </div>
  <p>
    <%= @user_ip %>
  </p>
</div>
